# Coding for the database application.

In [ ]:
# Improt sqlite3 to use the sqlite.
import sqlite3

In [ ]:
import pandas as pd

In [ ]:
# Create a database for hotel reservation system.
# First, we select address.
conn=sqlite3.connect('C:\\Users\\yb270\\OneDrive - University of Exeter\\SQL\\HotelBookingtest1.db')

In [ ]:
print(type(conn))

In [ ]:
#cursor oject is created using cursor() method of the Connection object.
CurOject=conn.cursor()

In [ ]:
#Drop tables if exists.
CurOject.execute("DROP TABLE IF EXISTS Hotel_Chain;")
CurOject.execute("DROP TABLE IF EXISTS Hotel;")
CurOject.execute("DROP TABLE IF EXISTS Customers;")
CurOject.execute("DROP TABLE IF EXISTS Rooms;")
CurOject.execute("DROP TABLE IF EXISTS Booking;")

In [ ]:
#Create all the required tables for our database.
qry='''
CREATE TABLE Hotel_Chain(
        HChainID           NUMERIC (10)    PRIMARY KEY   UNIQUE   NOT NULL,
        HotelChianName     VARCHAR (100)                 UNIQUE   NOT NULL,
        Address            STRING  (100)                 UNIQUE   NOT NULL,
        HotelchainPhone    NUMERIC (10)                  UNIQUE   NOT NULL,
        Email              TEXT    (40)                  UNIQUE   NOT NULL
);

CREATE TABLE Hotel(
        HotelID            VARCHAR (10)   PRIMARY KEY            NOT NULL,
        HotelName          TEXT    (40)                 UNIQUE   NOT NULL,
        Address            STRING  (100)                UNIQUE   NOT NULL,
        Telephone          NUMERIC (10)                 UNIQUE   NOT NULL,
        HChainID           NUMERIC        REFERENCES    Hotel_Chain (HChainID) ON DELETE NO ACTION ON UPDATE CASCADE
                                                                 NOT NULL
);

CREATE TABLE Customers(
        GuestID            VARCHAR (10)   PRIMARY KEY            NOT NULL,
        First_Name         TEXT    (50)                         NOT NULL,
        Last_Name          TEXT    (50)                        NOT NULL,
        Contact_Number     NUMERIC (10)               UNIQUE   NOT NULL,
        Email              TEXT    (100)               UNIQUE   NOT NULL,
        Id_Proof           TEXT    (50)                        NOT NULL,
        Address            TEXT    (100)               UNIQUE   NOT NULL,
        HotelID            VARCHAR   REFERENCES    Hotel (HotelID ) ON DELETE RESTRICT ON UPDATE CASCADE
                                                            NOT NULL
);

CREATE TABLE Rooms(
        Room_Number        VARCHAR (10)   PRIMARY KEY            NOT NULL,
        Room_type          VARCHAR (10)                        NOT NULL,
        HotelID            VARCHAR   REFERENCES    Hotel (HotelID ) ON DELETE RESTRICT ON UPDATE CASCADE
                                                            NOT NULL
);

CREATE TABLE Booking(
        BookingID          VARCHAR  (10)   PRIMARY KEY            NOT NULL,
        Price              VARCHAR  (25)                         NOT NULL,
        Checkin_date       DATETIME                         NOT NULL,
        Checkout_date      DATETIME                         NOT NULL,
        GuestID            VARCHAR   REFERENCES    Customers (GuestID) ON DELETE RESTRICT ON UPDATE CASCADE,
        Room_Number        VARCHAR   REFERENCES    Rooms (Room_Number) ON DELETE RESTRICT ON UPDATE CASCADE
                                                            NOT NULL
);
        
'''
try:
        CurOject.executescript(qry)
        print ('Tables created successfully')
except:
        print ('Error in creating tables')

In [ ]:
#Let's look at the table we made.
def tables(conn):
    cur = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cur.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cur.close()
    return tables

tables = tables(conn)
print(tables)

In [ ]:
# Inserting records in Hotel Chain about the details of the 2 main hotel chains.

qry="insert into Hotel_Chain (HChainID, HotelChianName, Address, HotelchainPhone, Email) values (?,?,?,?,?);"
HotelChainList=[(1,'Yours hotel Corporation','9 Elton Road , London, LN4 4RY','1000000001','yhcd@gmail.com' ),
           (2, 'Myplace Hotel and Resorts Corporation','10 Reed street , Leeds, LD3 3RS','111111111','mhrcd@gmail.com')]

try:
    CurOject.executemany(qry, HotelChainList)
    conn.commit()
    print ('Data inserted successfully...committed')

except:
    print ('Error.. Rollback')
    conn.rollback()

In [ ]:
#Lets see the HotalChain Data
HotelChaindf = pd.read_sql_query("select * from Hotel_Chain" ,conn)
HotelChaindf= HotelChaindf.set_index('HChainID')
HotelChaindf

In [ ]:
# Inserting records related to the details of the Hotels

qry="insert into Hotel (HotelID,HotelName,Address,Telephone,HChainID) values (?,?,?,?,?);"
HotelList=[(1,'Lands Inn','9b Gandy street , Exeter, EX4 3RY','2121212121','1' ),
           (2, 'Exeter Rosewood','10a my street , Exeter, EX3 5RY','3131313131','1'),
            (3,'Exeter Waxplace','Stocker Rd, Exeter EX1 3PY','4141414141','1' ),
           (4, 'Hotel Bliss.','40, Fore street , Exeter, EX1 3XT','5151515511','2'),
           (5, 'The Venetian Inn',' Catherine Street , Exeter, EX8 2YD','6161616161','2'),
            (6,'Waldorf Astoria','40, High Street, Exeter EX4 3BY','717171717171','2' ),
           (7, '4 Seasons Exeter','kings wharf, Cellar 2 , Exeter, EX2 3TS','818181818181','2')]


try:
    CurOject.executemany(qry, HotelList)
    conn.commit()
    print ('Data inserted successfully...committed')

except:
    print ('Error.. Rollback')
    conn.rollback()

In [ ]:
# Let's see the hotel data.
Hoteldf = pd.read_sql_query("select * from Hotel" ,conn)
Hoteldf= Hoteldf.set_index('HotelID')
Hoteldf

In [ ]:
# Inserting records related of the Customers.

qry="insert into Customers (GuestID, First_Name, Last_Name, Contact_Number, Email, Id_Proof, Address,HotelID) values (?,?,?,?,?,?,?,?);"
CustomerList=[('Cust1','RC',"BB",'23232323','RB@gmail.com','Passport','5a, villa, Australia','1' ),
           ('Cust2', 'Ravi',"Bhadauria",'242424242','RAvi@gmail.com','Passport','tf5, Venex, India','2'),
           ('Cust3','Peter',"Danial",'252525252','peter@gmail.com','Driving License ','23, dragon ally, Bristol','3'),
           ('Cust4', 'Akash',"Shingla",'2626262626','akash@gmail.com','Passport','65, jsgaagsk, Chandigarh ,India','4'),
           ('Cust5', 'GF',"BF",'272727272','gf@gmail.com','Passport','76, Wrzesnia, Poland','5'),
           ('Cust6','Loubna',"berhoun",'282828282828','Loubna@gmail.com','Driving License','99, algrer, Algeria','6'),
           ('Cust7', 'Kau',"Mehta",'383838383','Kau@gmail.com','Passport','888, megan, India','7'),
           ('Cust8','Danial',"Woziski",'31313131','Danial@gmail.com','Passport','77, wegan, Northern Ireland','3' ),
           ('Cust9', 'Nikhil',"Mahajan",'3232323232','Nikhil@gmail.com','National Id','66, segan, Poland','6'),
           ('Cust10','Lakshay',"Berry",'343434343','Lakshay@gmail.com','National Id','55, dean, Australia','7'),
           ('Cust11', 'Nikhil',"Danawade",'356473654','Danawade@gmail.com','Passport','33, legan, Northern Ireland','2'),
           ('Cust12', 'Shashank',"Sisodia",'127875344','Shashank@gmail.com','National Id','22, wondek, Northern Ireland','1'),
           ('Cust13','Mariusz',"Moziski",'18957353','Mariusz@gmail.com','Driving License','44, gondek, England','1'),
           ('Cust14', 'Piotr',"Garwarik",'983347844','Piotr@gmail.com','Passport','876, sondek, amiri','3'),
           ('Cust15','Marcin',"Marzwa",'93654733','Marcin@gmail.com','Passport','366, donkek,India','4' ),
           ('Cust16', 'Obuwanu',"zuwanuskigieo",'9363545859','Obuwanu@gmail.com','Passport','122, wondnd, lindia','5'),
           ('Cust17','Martina',"ksmac",'98753234','Martina@gmail.com','National Id','2, kosi, wndia','6'),
           ('Cust18', 'Asia',"kosmaczewska",'24356854','Asia@gmail.com','Driving License','1, wosi, India','7'),
           ('Cust19', 'Wiktoria',"Siwek",'8765465','Wiktoria@gmail.com','Passport','6, dogi, Wome','1'),
           ('Cust20','Gabi',"Moziswki",'876438298','Gabi@gmail.com','National Id','98, gogi, Dome','2'),
           ('Cust21', 'Zuza',"Pointek",'76876545','Zuza@gmail.com','Passport','34, logi, Gome','3'),
           ('Cust22','Kirti',"Chauhan",'656765456','Kirti@gmail.com','National Id','7, sogi, Rome','4' ),
           ('Cust23', 'Rashmi',"Chauhan",'3456543','Rashmi@gmail.com','National Id','2, wogi, Franch','5'),
           ('Cust24','Shrey',"Garg",'23456543','Shrey@gmail.com','Passport','4, mogi, CR','6'),
           ('Cust25', 'shashank',"Gupta",'23454321','Gupta@gmail.com','Driving License','34, qpqpq, Germany','7'),
           ('Cust26', 'Rajat',"Gupta",'9878987','Rajat@gmail.com','Passport','364, aahan, poland','3'),
           ('Cust27','Mateusz',"Siwek",'678765','Mateusz@gmail.com','National Id','87, wahan, London','2'),
           ('Cust28', 'Mateusz',"Doiszk",'4567654','Doiszk@gmail.com','Passport','65, aaspass, Australia','1')]

#Commiting the data.
try:
    CurOject.executemany(qry, CustomerList)
    conn.commit()
    print ('Data inserted successfully...committed')

except:
    print ('Error.. Rollback')
    conn.rollback()

In [ ]:
# Let's see the Customer data
Custdf = pd.read_sql_query("select * from Customers" ,conn)
Custdf= Custdf.set_index('GuestID')
Custdf

In [ ]:
qry="insert into Rooms (Room_Number,Room_type, HotelID ) values (?,?,?);"
RoomList=[(101,'Standard' ,1),
           (102, 'En-suite',2),
               (103,'Standard',3 ),
           (104, 'En-suite',4),
               (105,'Standard',5 ),
           (106, 'En-suite',6),
               (107,'Standard',7 ),
           (108, 'En-suite',2),
               (109,'Standard',3),
           (110, 'En-suite',1),
               (111,'Standard' ,3),
           (112, 'En-suite',2),
                (113,'Standard',4 ),
           (114, 'En-suite',1),
           (115, 'En-suite',5 ),
               (116,'Standard',3),
           (117, 'En-suite',2),
               (118,'Standard',5  ),
           (119, 'En-suite',1),
               (120,'Standard' ,5 ),
           (121, 'En-suite',6),
               (122,'Standard',7  ),
           (123, 'En-suite',2),
            (124,'Standard',6 ),
           (125, 'En-suite',1),
               (126,'Standard',6 ),
           (127, 'En-suite',1),
               (128,'Standard' ,4),
           (129, 'En-suite',2),
               (130,'Standard' ,7 ),
           (131, 'En-suite',7 ),
               (132,'Standard',4 ),
           (133, 'En-suite',1),
               (134,'Standard',7 )]

#Commit Data
try:
    CurOject.executemany(qry, RoomList)
    conn.commit()
    print ('Data inserted successfully...committed')

except:
    print ('Error.. Rollback')
    conn.rollback()

In [ ]:
Roomdf = pd.read_sql_query("select * from Rooms" ,conn)
Roomdf= Roomdf.set_index('Room_Number')
Roomdf

In [ ]:
qry="insert into Booking (BookingID,Price,Checkin_date,Checkout_date,GuestID, Room_Number) values (?,?,?,?,?,?);"
BookingList=[('B1','£40','05/14/2021', '05/16/2021','Cust9',101,),
             ('B2','£70','06/14/2021', '06/16/2021','Cust10',102,),
             ('B3','£70','06/07/2021', '06/09/2021','Cust1',103,),
             ('B4','£90','07/06/2021', '07/09/2021','Cust2',104,),
             ('B5','£80','06/05/2021', '06/15/2021','Cust4',105,),
             ('B6','£30','05/04/2021', '05/05/2021','Cust5',106,),
             ('B7','£60','04/03/2021', '04/04/2021','Cust10',107,),
             ('B8','£70','04/02/2021', '04/04/2021','Cust27',108,)]

try:
    CurOject.executemany(qry, BookingList)
    conn.commit()
    print ('Data inserted successfully...committed')

except:
    print ('Error.. Rollback')
    conn.rollback()

In [ ]:
Bookingdf = pd.read_sql_query("select * from Booking" ,conn)
Bookingdf= Bookingdf.set_index('BookingID')
Bookingdf

# Coding in Redis
Let's add data of new customers waiting for availability of rooms in their choice of Hotel.

In [ ]:
# Import Redis package
import redis

r = redis.Redis(host='localhost', port=6379, db=4)

# Check database connection -will return true if successful
print(r.ping())

In [ ]:
import random
# Redis hash of field-value pairs is used. Eash has has a key that with an integer (we are importing random())
random.seed(203)

#Here we will provide the see to the random.

available_rooms = {f"available_Roomms:{random.getrandbits(32)}": i for i in (
    {
        "Room Type": "Standard/En-Suite",
        "Hotel": "Lands Inn",
        "Available": 50,
        "Price": 35,
        
    },
    {
        "Room Type": "Standard/En-Suite",
        "Hotel": "Exeter Rosewood",
        "Available": 50,
        "Price": 25,
    },
    {
        "Room Type": "Standard/En-Suite",
        "Hotel": "The Venetian Inn",
        "Available": 50,
        "Price": 75,
    },
    {
        "Room Type": "Standard/En-Suite",
        "Hotel": "Waldorf Astoria",
        "Available": 50,
        "Price": 45,
    },
    {
        "Room Type": "Standard/En-Suite",
        "Hotel": "4 Seasons Exeter",
         "Available": 50,
        "Price": 65,
    })
}

In [ ]:
ar=pd.DataFrame(available_rooms)
ar

In [ ]:
import redis

r10 = redis.Redis(db=1)

In [ ]:
with r10.pipeline() as pipe:
    for Room_id, available_Roomms in available_rooms.items():
            pipe.hmset(Room_id, available_Roomms)   
    pipe.execute()

In [ ]:
r10.bgsave()

In [ ]:
import logging

logging.basicConfig()

class OutOfStockError(Exception):
    """Raised when rooms are not available"""

def buyitem(r: redis.Redis, itemid: int) -> None:
    with r.pipeline() as pipe:
        error_count = 0
        while True:
            try:
                # Get available inventory, watching for changes
                # related to this itemid before the transaction
                pipe.watch(itemid)
                nleft: bytes = r.hget(itemid, "Available")
                if nleft > b"0":
                    pipe.multi()
                    pipe.hincrby(itemid, "Available", -1)
                    pipe.hincrby(itemid, "Booked", 1)
                    pipe.execute()
                    break
                else:
                    # Stop watching the itemid and raise to break out
                    pipe.unwatch()
                    raise OutOfStockError(
                        f"Sorry, {itemid} is out of stock!"
                    )
            except redis.WatchError:
                # Log total num. of errors by this user to buy this item,
                # then try the same process again of WATCH/HGET/MULTI/EXEC
                error_count += 1
                logging.warning(
                    "WatchError #%d: %s; retrying",
                    error_count, itemid
                )
    return None

# Hotel Booking System Application.



## Do you want to insert any new Customer details.

In [ ]:
GuestID=input('Enter GuestId:') 
First_Name=input('Enter First Name:')
Last_Name=input('Enter Last Name:')
Contact_Number=input('Enter Contact Number:')
Email= input('Enter  Email:') 
Id_Proof=input('Enter Id Proof:') 
Address=input('Enter Address:') 
HotelID=input('Enter in which hotel he will stay:') 

qry="insert into Customers (GuestID, First_Name, Last_Name, Contact_Number, Email, Id_Proof, Address,HotelID) values (?,?,?,?,?,?,?,?);"
try:
        CurOject.execute(qry, (GuestID,First_Name,Last_Name,Contact_Number,Email,Id_Proof,Address,HotelID))
        print ('Customer added')
        conn.commit()
except:
        print ('Error.. rollback')
        conn.rollback()


#  Booking at the hotel.

In [ ]:
# Do you wanna add Booking confirmation detail for a existing customer.

BookingID=input('Add Booking Number:')
Price=input('Enter Price of the selected Room:')
Checkin_date=input('Enter Check in Date:(mm/dd/yyyy)')
Checkout_date=input('Enter Check out Date:(mm/dd/yyyy):')
GuestID=input('Enter GuestId:')
Room_Number=input('Enter Room Number Customer will stay:')

qry="insert into Booking (BookingID,Price,Checkin_date,Checkout_date,GuestID, Room_Number) values (?,?,?,?,?,?);"
try:
        CurOject.execute(qry, (BookingID,Price,Checkin_date,Checkout_date,GuestID, Room_Number))
        print ('Room Booked')
        conn.commit()
except:
        print ('Error in Booking .. rollback')
        conn.rollback()


# Read details of customer, booking, hotel name and duration of stay.

In [ ]:

# Query and display records from multiple tables based on user input

inputBookingID=input ('Input Booking ID:')
qry="select * from Booking where BookingID=?";
CurOject.execute(qry, (inputBookingID,))
row=CurOject.fetchone()

#Let's extract the data from the input.
print ("Price of the Room is", row[1])
print ("Customer ID is",row[4], "Room alloted is",row[5])
print("The time of stay is from",row[2],"to",row[3] )

#Extract detials of customer using primary-foreign key relationship.
qry1="select * from Customers where GuestID=?";
CurOject.execute(qry1, (row[4],))
rowcust=CurOject.fetchone()
print("Name of the Guest is", rowcust[1],rowcust[2])
print("The contact details are as follows Phone",rowcust[3],"and Address is",rowcust[6],".")

#Extract data of the Hotel in which the customer stayed.
qry2="select * from Hotel where HotelID=?";
CurOject.execute(qry2, (rowcust[7],))
row=CurOject.fetchone()

print("Guest is staying at", row[1],". The Contact info of the Hotel are as follows- Phone-",row[3],"and Address is",row[2],".")

In [ ]:
#Let's check the data of customers who are staying in all hotels.

CurrentCust=pd.merge(Bookingdf,Custdf, how="left", on="GuestID") 
CurrentCust.index = CurrentCust.index + 1
CurrentCust

# Update Booking if you relate it with wrong Guest.

In [ ]:
# Update table based on user input

InBook=input('Enter BookingID to be updated:')
InputNew=input('Enter new GuestID:')
qry='update Booking set GuestID=? where BookingID=?'

try:
        CurOject.execute(qry, (InputNew,InBook))
        print ('Booking details updated')
        conn.commit()
except:
        print ('Error, Please try again.. rollback')
        conn.rollback()

# Delete the cancelled booking.

In [ ]:
# Delete record based on user input

DelBooking=input('Enter Booking ID to delete:')
qry='delete from Booking where BookingID=?'
try:
        CurOject.execute(qry, (DelBooking,))
        print ('Selected booking is deleted')
        conn.commit()
except:
        print ('Error in deleting Booking',DelBooking)
        conn.rollback()

# Data of Customers in the waiting list.

In [ ]:
#Insert Data
r.set ("Hotel:Cust111", "Lands Inn ")
r.set ("Hotel:Cust112", "Exeter Rosewod")
r.set ("Hotel:Cust113", "Hotel Bliss")
r.set ("Hotel:Cust114", "The Venetian Inn")
r.set ("Hotel:Cust115", "Waldorf Astoria")
r.set ("Hotel:Cust116", "Exeter Rosewood")
r.set ("Hotel:Cust117", "Lands Inn ")
r.set ("Hotel:Cust118", "The Venetian Inn")
r.set ("Hotel:Cust119", "Waldorf Astoria")

# Let's look at the customers in the waiting list.

In [ ]:
ky=r.keys("Hotel:Cust1*")
for x in ky:
    print("Key: ", x.decode("utf-8"))
    key=x.decode("utf-8")
    print("Value: ", r.get(key).decode("utf-8"))

# If we want to delete some data from waiting list.

In [ ]:
r.delete("Hotel:Cust111")

# Update the data in the waiting list

In [ ]:
r.rename("Hotel:Cust113","Hotel:Cust120")

# Lets add the cusotmer who are interested in venetian Inn.

In [ ]:
#Customer looked into The venetian Inn. 
r.rpush ("Hotel:venetian:BookingSection:Sept20", "Cust-120")
r.rpush ("Hotel:venetian:BookingSection:Sept20", "Cust-118")
r.rpush ("Hotel:venetian:BookingSection:Sept20", "Cust-125")
r.rpush ("Hotel:venetian:BookingSection:Sept20", "Cust-121")

# Let's see the length of the list stored at key.
print ("Number of Customers in waiting of the Venetian Inn website: ", r.llen ("Hotel:venetian:BookingSection:Sept20"))

print ("First Customer in Booking waiting list: ", r.lindex ("Hotel:venetian:BookingSection:Sept20", 0).decode("utf-8"))

In [ ]:
#Let's add the data of the first customer and retrive it.
record = {
    "Full Name": "Max Beery",
    "Contact No": "9876556675",
    "Email":"Max@gmail.com",
    "Id_Proof":"Passport",
    "Address":"33,Street, England",
    "HotelID":'5',
    "Checkin_date":"05/16/2021",
    "Checkout_date": "05/19/2021"
}

r.hmset("Cust-120", record)
r.hgetall("Cust-120")

In [ ]:
#Let's store the key in new object that will help us to pass the values to our RDBMS database.
newcust=r.keys('Cust*')

In [ ]:
#Extract all the data from the redis and save it in our customer table.
GuestID=("Cust-120")
Full_Name=record['Full Name'].split()
First_Name=Full_Name[0]
Last_Name=Full_Name[1]
Contact_Number=record['Contact No']
Email=record['Email']
Id_Proof=record['Id_Proof']
Address=record['Address']
HotelID=record['HotelID']

## Adding the extracted data into the Customer Table

In [ ]:
#Qyary to insert data to our customer table.
qry="insert into Customers (GuestID, First_Name, Last_Name, Contact_Number, Email, Id_Proof, Address,HotelID) values (?,?,?,?,?,?,?,?);"

Newdetails=(GuestID, First_Name, Last_Name, Contact_Number, Email, Id_Proof, Address,HotelID)
#Commiting the data.

try:
    CurOject.executemany(qry,(Newdetails,))
    conn.commit()
    print ('Data inserted successfully...committed')

except:
    print ('Error.. Rollback')
    conn.rollback()

## Giving offers to leverage customers to book the room in minimum span of time.

In [ ]:
from datetime import datetime
# retrieving current time using using datetime object
datetime = datetime.now()

r.set("Hotel:venetian:BookingSection:Cust-1145:ip_address", "144.243.872.773")
r.set("Hotel:venetian:BookingSection:Cust-1145:timestamp", datetime.strftime("%H:%M:%S"))
r.set("Hotel:venetian:BookingSection:Cust-1145:Offer 50% off", "Room 110")

print(r.get("Hotel:venetian:BookingSection:Cust-1145:ip_address"))
print(r.get("Hotel:venetian:BookingSection:Cust-1145:timestamp"))

# Displaying ttl key to show that the customer has to book the room in the specified time for the offer.
print("Hurry up! Soon you will lose the opportunity.")

r.ttl ("Hotel:venetian:BookingSection:Cust-1145:Offer 50% off")
# Set expiry to 60 seconds
r.expire("Hotel:venetian:BookingSection:Cust-1145:Offer 50% off", 60)

#Printing message and time left.
print("Hurry up! Total time left is-")
print(r.ttl ("Hotel:venetian:BookingSection:Cust-1145:Offer 50% off"))

In [ ]:
r.ttl ("Hotel:venetian:BookingSection:Cust-1145:Offer 50% off")

## Adding booking through the online waiting list.

In [ ]:
# Adding Booking confirmation detail for a new booking received from online portal and saving to our Booking table.

BookingID=input('Add Booking Number:')
Price=input('Enter Price of the selected Room:')
Checkin_date=record['Checkin_date']
Checkout_date=record['Checkout_date']
GuestID=input('Enter GuestId:')
Room_Number=input('Enter Room Number Customer will stay:')

qry="insert into Booking (BookingID,Price,Checkin_date,Checkout_date,GuestID, Room_Number) values (?,?,?,?,?,?);"

try:
        CurOject.execute(qry, (BookingID,Price,Checkin_date,Checkout_date,GuestID, Room_Number))
        print ('Room Booked')
        conn.commit()
except:
        print ('Error in Booking .. rollback')
        conn.rollback()


# Check the availability of rooms.

In [ ]:
# look for the keys;
r10.keys("available_Roomms*")

In [ ]:
print(r10.hgetall("available_Roomms:3616826228"))

In [ ]:
buyitem(r10, "available_Roomms:3616826228")
buyitem(r10, "available_Roomms:3616826228")
buyitem(r10, "available_Roomms:3616826228")
print("Available rooms are",r10.hmget("available_Roomms:3616826228", "Available"),"and booked rooms are",r10.hmget("available_Roomms:3616826228", "Booked"))

In [ ]:
r10.lastsave()

In [ ]:
r10.bgsave()